<%= form_tag :action => 'ph1' do %>^M
  <div class="field">^M
    <%= label_tag 'publish', '出版社：'  %><br />^M
    <%= text_field_tag 'publish' %>^M
  </div>^M
  <div class="field">^M
    <%= label_tag 'price', '最低価格：'  %><br />^M
    <%= text_field_tag 'price' %>^M
  </div>^M
  <%= submit_tag '検索' %>^M
<% end %>
~                    